<html ang="en" dir="ltr">
<head>
    <meta charset="utf-8">
         <link rel="stylesheet" type="text/css" href="\profile.css">
         <title>Guard Profile</title>
  </head>
  <body>


   <div class="table-data">
     <h2 class="tab">List Of Guard</h2>
         <table border="1">
      <tr>
     <th>NAME</th>
     <th>SALARY</th>
     <th>GATE_NO</th>
     <th>D.O.B</th>
     <th>GENDER</th>
     <th>ADDRESS</th>
     <th>NUMBER</th>
         </tr>

 <%
 if(guard.length!=0){
 var i=1;
 guard.forEach(function(data){
 %>
 <tr>
     <!-- <td><%=i; %></td> -->
     <td><%=data.NAME %></td>
     <td><%=data.SALARY %></td>
     <td><%=data.GATE_NO%></td>
     <td><%=data.DOB %></td>
     <td><%=data.GENDER %></td>
     <td><%=data.ADDRESS %></td>
     <td><%=data.PHONE_NO %></td>
     <!-- <td><a href="/VISITOR/delete/<%=data.NAME%>">Delete</a></td> -->
 </tr>
 <%  i++; }) %>
 <% } else{ %>
     <tr>
         <td colspan="7">No Data Found</td>
     </tr>
 <% } %>
</table>
</div>



  </body>
  </html>
