<!DOCTYPE html>
<html ang="en" dir="ltr">
<head>
  <script>
    function timeout(){
          window.location.href = "/gd";
      }
      const time = setTimeout(function(){timeout()},300000);
      </script>
    <meta charset="utf-8">
         <link rel="stylesheet" type="text/css" href="\profile.css">
  </head>
  <body>


    <div class="column">
      <h1 class="guardH">Guard</h1>
      <%
    if(data[0].length!=0){

    %>
    <hr>
      <h3 class="guardH"><%= data[0].NAME %></h3>
      <p class="p">Salary : <%= data[0].SALARY %></p>
      <p class="p">Gate : <%= data[0].GATE_NO %></p>
      <p class="p">D.o.b : <%= data[0].DOB %></p>
      <p class="p">Gender : <%= data[0].GENDER %></p>
      <p class="p">Address : <%= data[0].ADDRESS %></p>
      <p class="p">ADHAAR : <%= data[0].ADHAAR %></p>
      <p class="p">Religion : <%= data[0].RELIGION %></p>
      <p class="p">Nationality : <%= data[0].NATIONALITY %></p>
      <hr>
      <h3 class="guardH">Contact info</h3>
      <p class="p">Number : <%= data[0].PHONE_NO %></p><br></br>
      <a type="submit" class="button" onclick="location.href='/gd'">Log out</a>
    </div>
    <% } %>
    <div class="columnG"><br>
      <form action="/Gurad" class="form" method="post">
           <h2>Add visitor</h2>
           <label for="name">Name</label>
           <input type="text" class="G" name='name' placeholder="Name" id="name"><br>
           <label for="number">Number</label>
           <input type="text" class="G" name ='number'placeholder="Number" id="number"><br>
           <label for="email">Email</label>
           <input type="email" class="G" name='email'placeholder="Email" id="email"><br>
           <label for="roomNo">Room Number</label>
           <input type="number" class="G" name="rnum" placeholder="Room number" id="roomNo">
           <input type="character" name="block" class="G" placeholder="block" id="roomNo"><br>
             <!-- <option value="A">A</option>
             <option value="B">B</option>
             <option value="C">C</option>
           </select><br> -->
           <label for="purpose">Purpose</label>
           <input type="text" class="G" name='purpose' placeholder="Purpose" id="purpose"><br>
           <label for="date" >Date</label>
           <input type="date" class="G" name="date" id="date"><br>
           <label for="Etime">Entry Time</label>
           <input type="time" class="G" name='entime'placeholder="Time" id="Etime"><br>
           <label for="Extime">Exit Time</label>
           <input type="time" class="G" name='extime' placeholder="Time" id="Extime"><br><br><br>
             <button type="submit" class="g" onclick="location.href='/Gurad'">Add Visitor</button>
</form>
  </div>

  </body>
</html>
