<!DOCTYPE html>
<html ang="en" dir="ltr">
<head>
    <meta charset="utf-8">
         <link rel="stylesheet" type="text/css" href="profile.css">
  </head>
  <body>
    <script>
      function timeout(){
            window.location.href = "/logout";
        }
        const time = setTimeout(function(){timeout()},300000);
        </script>
    </script>
<div class="out">
  <form>
    <a type="submit" class="button" onclick="location.href='/GuardProfile'">Guard</a>
    <a type="submit" class="button" onclick="location.href='/visitor'">Visitors</a>
      <a type="submit" class="button"  onclick="location.href='/event'">Create Event</a>
      <a type="submit" class="button" onclick="location.href='/logout'">Log out</a>
  </form>
  </div><br><br><br>


  <div class="row">
    <div class="column1">
      <div class="column1T">
          <img id=""><p>your image</p>
      </div>
      <div class="column1B">
       <h2 class="one">Upcoming Events</h2><br>
       <p>Select Date <input type="date"></p>
       <p>Event Name</p>
       <p>Venue</p>
       <p>Time</p>
      </div>
    </div>
    <%
    if(data[0].length!=0){

    %>
    <div class="column2">
      <h2 class="p">About</h2>
        <h3>Name : <%= data[0].NAME %></h3>
      <p class="p">Room number : <%= data[0].ROOM_NO %> </p>
      <p class="p">Block : <%= data[0].BLOCK %> </p>
      <p class="p">D.o.b : <%= data[0].DOB %></p>
      <p class="p">Gender : <%= data[0].GENDER %></p>
      <p class="p">Religion : <%= data[0].RELIGION %></p>
      <p class="p">Nationality : <%= data[0].NATIONALITY %></p>
      <hr>
      <h3>Contact info</h3>
      <p class="p">Number : <%= data[0].PHONE_NO %></p>

    </div>
    <% } %>
    <div class="column3">
      <div class="column3T">
        <form action="/myprofile" class="form" method="post">
           <h2>Complaint Area</h2>
           <label for="name">Name</label>
           <input type="text" name='name' placeholder="Name" id="name"><br>
           <label for="number">Number</label>
           <input type="text" name="number" placeholder="Number" id="number"><br>
           <label for="text">Email</label>
           <input type="text" name="email" placeholder="Email" id="email"><br>
           <label for="name">Date</label>
           <input type="date" name="date" placeholder="Date" id="name"><br>
           <label for="name">Block</label>
           <input type="text" name='block'placeholder="Block" id="name"><br>

    </div>
    <div class="column3B">
      <br><br><br><br>
      <textarea class="text" name = 'message' placeholder="Write something..."></textarea>

      <button type="submit" class="problem_box" onclick="location.href='/myprofile'"><strong>Submit</strong></button>
    </div>
  </div>
    </div>
  </form>
  </body>
</html>
